// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue,Helvetica,sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
}

.section {}

.left-side {
  display: flex;
  background: #17141f;
  flex-grow: 1;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.2rem;
  // line-height: 2rem;
  color: #433f4a;
  max-width: 20rem;
  font-family: Helvetica Neue,Helvetica,sans-serif;
  padding-left: 1rem;

}

.Twitch-logo {
  height: 3rem;
  width: 8rem;
  margin-left: 4rem;
  margin-top: 2rem;
}

.search_bar {
  margin: 1rem 0;
  display: flex;
  width: 75%;

  &-input {
    width: 100%;
    background-color: #201c2b;
    box-shadow: #392e5c 0 0 0 0 inset;
    color: #dad8de;
    border-top: .1rem solid #392e5c;
    border-bottom: .1rem solid #392e5c;
    border-right: .1rem solid #392e5c;
    border-left: none;
    font-size: .6em;
    padding-left: .5rem;
  }
}

.fa-search {
  color: #cbc8d0;
  background-color: #201c2b;
  border-left: .1rem solid #392e5c;
  border-top: .1rem solid #392e5c;
  border-bottom: .1rem solid #392e5c;
  padding: .3rem;

}

.icon-list {
  color: #cbc8d0;
  margin: 0;
  position: relative;
}

.icon {
  font-size: 1.4rem;
  font-weight: 100;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

.fa-gamepad {
  padding: 0.5rem;
}

.fa-video-camera {
  padding: 0.5rem;
}

.fa-file-video-o {
  padding: 0.5rem;
}

.fa-star {
  padding: 0.5rem;
}

.side-header {
  color: #cbc8d0;
  font-size: 1rem;
  margin: 1.5rem 0 1rem;
  border-bottom: 0.1rem solid #6441a4;
  justify-content: space-between;
}

.fa-caret-down {
  padding-left: 7rem;
}

.prime {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

&-title {

}
  &-subtitle {
    color: #cbc8d0;
    font-size: 0.8rem;
    text-decoration: none;
    flex-direction: row;
  }
}

.thumbnail-image {
  max-height: 3rem;
  width: 3rem;
  padding-bottom: 0.8rem;
  padding-right: 0.8rem;
}

figcaption {
  color: #cbc8d0;
  font-size: 0.9rem;
  // margin: 1.5rem 0 1rem;
}

.recommended-channels {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  width: 100%;

}

.channel-wrapper {
  color: #cbc8d0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.channel-icon {
  margin-right: 1rem;
  max-height: 3rem;
  width: 3rem;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
}

.channel-name {
  display: block;
  line-height: 1.5rem;
  min-width: 0;
}

.channel-streaming {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.bottom-nav {
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.1rem;
  margin-bottom: 2rem;

}

.bottom-nav__items {
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  width: 100%;
  list-style-type: none;

}

.bottom-nav_items__options {
  width: 50%;
  color: #cbc8d0;
  margin: 0;
  padding: 0;
  position: relative;
}

.middle-section {
  display: flex;
  width: 50%;
}

.right-side {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20rem;
  background: #efeef1;
  padding-left: 2rem;
  min-height: 100vh;
  // display: flex;
  // flex-grow: 1;
  // flex-direction: column;
  // flex-wrap: nowrap;
}

.log-in__alert {
  padding-top: 2rem;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: #232127;
  margin-bottom: 15px;

}

.log-in__instructions {
  padding-top: 2rem;
  margin-bottom: 20px;
  font-size: 14px;
}

.user-options {
  list-style: none;

  &-li {
    display: inline-block;
    padding: 0 10px;
    line-height: 30px;
    background: white;
    border-left: 3px solid #6441a4;
    margin-bottom: 10px;
  }
}

.log-in {
  background-color: #6441a4;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 3rem;
  padding: 0 1rem;
  margin: 0;
  position: relative;

}

.sign-up {
  background-color: #6441a4;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 3rem;
  padding: 0 1rem;
  margin: 0;
  position: relative;
}
